div{
    display: inline-block;
    vertical-align: top;        
}
.combinacion>div{
    border:2px solid black;
    border-radius: 3em;
    width: 50px; height: 50px;
}
.valor1{
    background-color: blue;}
.valor2{ 
    background-color: white;}
.valor3{     
    background-color: black;}
.valor4{     
    background-color: yellow;}

.combinacion>.igual{
    border-color:#33ff33;
}
.combinacion>.diferent{
    border-color:red;
}